.logo_mini{
    width: 120px;
    height: auto;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: red;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: turquoise;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: green;
}